
  <div layout-gt-sm="row">

    <div flex-gt-sm="50" flex="">

      <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>Flights</span>
        </div>
      </md-toolbar>





      <md-content>
        <md-list flex>
          <md-list-item class="md-3-line" ng-repeat="flight in ctrl.flights" ng-click="null">
            <div class="md-list-item-text" layout="column">
              <h3>From: {{flight.origin}} To: {{flight.destination}}</h3>
              <h4>Flight Length: {{flight.flightTime}} hours.</h4>
              <p>Departure:   Arrival:</p>
            </div>
            <!-- <md-divider></md-divider> -->
          </md-list-item>
        </md-list flex>
      </md-content>
    </div>
  </div>

<div>
HMMM
{{ctrl.test}}
HMMMMMMM
{{ctrl.flights}}
W̢͈̲̰͈̱̻͖̗̟͇͔̣͒̏ͨ̃̔̔̋͂̌ͫ̏ͯͮ́Ĥ̨̳̱̣̣̰̲̪͓̼͎͕̦̎ͪͭ̽ͤͯ͗́Y̴̶̻̠̭̤̟̺̫͓͕̣̖̦̭̗͙͍̖ͩͤ̎̾͂̐́̒ ̗̺̺̱̟̭ͥ͑̌͋͒͟͡͡͡͞ͅI̧̬̲̱̯̘̝̦̤͉͒ͣ̐ͯ̒ͨ̏̿̅͊ͯͨ̊ͭ́͘͞Sͥ̿̏͆̌͋͒͒ͯͥ͌ͪ҉̳̱̲̹̼͖̳̬͔̱̺̩̳͇͇̟̣̪N̈͐̂ͬ͛̒̒̔͏̶̙͉̤̬̜͕̪̭̪̪̜̭'̜͔̱ͦ̆ͮ̈́ͭͨ̈́͌ͤ͊͘͟͟͞T̨ͥͣ͛̓̚҉̹̭̳̳̬̝̫͖̲͖̟̗̰̥͓̱̞̱ͅ ̲̬̞̯̺̮̟̰͚͈͚͎͍͍̍̊̍ͦ̚͟͠͝T̢̙̹̦̲̺̗̩̜̺̦̮̺͍͕͈͖̖̹̓ͦ͑͊̐͒ͫ̅̿ͯ̌̍̂ͧ̂ͩ̏ͫ́̕̕͢H͔̱̰͕͉͚̗̲̹͙̹͐ͭ͊ͧͥ͋̽͟͟͡I̥̹͔̻̟̮͚͇̤̪̱̘̘ͭ̔̄̽ͩ͌͂̋ͫ͑ͨ͛̾̔̉ͨ͢Ś̷̨͍̱̜͍̳̮̥͙͉̦̟͉̪͌ͪ̈́ͨ́̚͞ ̴̧̝̰͕̯͔͕̩̞͈̘̱̬̱̥̹̳̓̌ͧ̄̌͆̊̆̃̓͊̌̅͐̕̕W̧̰̱̹̲̯̹̦̯̻̼̙̼̫̙̿̈́̏͂ͣͥͬ̆ͦ̈ͪͥ̒͟O̷̡̎̀ͬ̒̂̿̎́̏͌ͣ̍ͧ̿ͤ́͢͏̻̤̺͈̖͔̳̟̱͉̫̤͍̟͔̣̬R͎̙͉̫͚̍̒̍̈ͯͬ̇̈́̂̌ͮ̊ͫ̋̚͘͜K̴̢̃̊ͮ̂ͭ̐͐ͫ͒ͯ͑̓̄̂ͧ̔̚͏̥͙̗̳̝̩͇̘I̶̎̎ͤ̃̓ͧ͌́͘͏̛̬̪͓͔̤͍̮̟̠̥̙͔̲̬̼Ņ̜͍̺͈̪͓̪ͯͣ̂ͤ͌͛͢G̺͔̗̜͇̳͓͎͚̮̙̠̔͊ͯͫ͛ͨ͐̿̂̌̆͒̂̚̕͟͠!̨̻̦̼͔͔̗̪̭̞͈̖͕̲̃̍ͬͦ͐̏̍̔ͩ̿̂ͮ͆́̚͝ͅ
</div>


    <div ng-repeat="flight in ctrl.flights">
      TEST TEST TEST
    </div>
