<div layout="column" class="loginBox md-whiteframe-z1">
   <md-toolbar>
     <h2 class="md-toolbar-tools"><span>Register</span></h2>
   </md-toolbar>
   <md-content layout="column" class="md-padding">
     <md-input-container class="md-block">
       <label>User Name</label>
       <input type="name" ng-model="ctrl.user.userName"/>
     </md-input-container>
     <md-input-container class="md-block">
       <label>First Name</label>
       <input type="name" ng-model="ctrl.user.firstName"/>
     </md-input-container>
     <md-input-container class="md-block">
       <label>User Name</label>
       <input type="name" ng-model="ctrl.user.lastName"/>
     </md-input-container>
     <md-input-container class="md-block">
       <label>Email</label>
       <input type="name" ng-model="ctrl.user.email"/>
     </md-input-container>
     <md-input-container class="md-block">
       <label>Password</label>
       <input type="password" ng-model="ctrl.user.password"/>
     </md-input-container>
     <md-input-container class="md-block">
       <label>Re-Enter Password</label>
       <input type="password" ng-model="ctrl.passwordmatch"/>
     </md-input-container>
     <div layout="row" layout-align="center center" style="padding-top:20px;">
       <md-button class="md-raised md-primary" ng-click ="new(ctrl.user)" >Register</md-button>
       <md-button href="" class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
       <div flex="flex"></div>
     </div>
   </md-content>
 </div>
